

@model MobileOrder.Models.BusinessList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BusinessName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Business", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "Business", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Business", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>