

@model MobileOrder.Models.Business
    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessName)
    </div>
