

@model MobileOrder.Models.Condiment
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CondimentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CondimentName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategory)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartChecked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartChecked)
    </div>
