

@model MobileOrder.Models.CondimentList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CondimentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartChecked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CondimentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartChecked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Condiment", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "Condiment", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Condiment", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>