

@model MobileOrder.Models.CustomerOrder
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TableInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TableInfo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CardName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CardName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CardType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CardType)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthCode)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpirationMonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpirationMonth)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpirationYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpirationYear)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubTotal)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tax)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>
