

@model MobileOrder.Models.CustomerOrderList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TableInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().AuthCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ExpirationMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ExpirationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TableInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "CustomerOrder", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "CustomerOrder", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "CustomerOrder", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>