

@model MobileOrder.Models.CustomerList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Customer", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "Customer", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Customer", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>