

@model MobileOrder.Models.FoodMenu
    <div class="display-label">
         @Html.DisplayNameFor(model => model.MenuName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MenuName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategory)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
