

@model MobileOrder.Models.FoodItemList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FoodItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "FoodItem", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "FoodItem", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "FoodItem", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>