

@model MobileOrder.Models.FoodMenuList
<table style="width:100%;">

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.MenuName, "Edit", "FoodMenu", new { id = item.Id, locationId = item.LocationId }, new { }) 
            (@Html.ActionLink("-", "Delete", "FoodMenu", new { id = item.Id, locationId = item.LocationId }, new { }))
            (@Html.ActionLink("+", "Create", new {locationId = Model.LocationId, foodMenuId = item.Id}))
            (@Html.ActionLink("++", "Create", "FoodItem", new {locationId = Model.LocationId, foodMenuId = item.Id}, new{}))
        </td>

    </tr>
    if (item.FoodMenus.Count > 0)
     {
         <tr>
             <td>
                 <table>
                     <tr>
                         <td style="width: 30px;">
                         </td>
                         <td style="width: 400px">
                             @Html.DisplayFor(modelItem => item.FoodMenus)
                         </td>
                     </tr>
                 </table>
             </td> 
           
         </tr>
     }
    if (item.FoodItems.Count > 0)
    {
        foreach (var foodItem in item.FoodItems)
        {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="width: 30px;"></td>
                            <td>
                                @*@foodItem.FoodItemName*@
                                @Html.ActionLink(foodItem.FoodItemName, "Edit", "FoodItem", new { id = foodItem.Id, locationId = item.LocationId }, new { })
                            </td>
                            <td>
                                @foodItem.Price.ToString("C")
                            </td>
                        </tr>
                    </table>                  
                </td>
            </tr>

        }
    }
}

</table>