

@model MobileOrder.Models.FoodItem
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodItemName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubCategory)
    </div>
