

@model MobileOrder.Models.Franchise
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FranchiseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FranchiseName)
    </div>
