

@model MobileOrder.Models.FranchiseList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FranchiseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FranchiseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Franchise", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "Franchise", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Franchise", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>