

@model MobileOrder.Models.LocationList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().WiFiName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WiFiName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Location", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "Location", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Location", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>