

@model MobileOrder.Models.Location
    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.WiFiName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WiFiName)
    </div>
