

@model MobileOrder.Models.OrderLineItemList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ItemType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SortOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "OrderLineItem", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "OrderLineItem", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "OrderLineItem", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>