

@model MobileOrder.Models.Rating
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Stars)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stars)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>
