

@model MobileOrder.Models.RatingList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Rating", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "Rating", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Rating", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>