

@model MobileOrder.Models.sysdiagram
    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.version)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.version)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.definition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.definition)
    </div>
