

@model MobileOrder.Models.sysdiagramList
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().definition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.definition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "sysdiagram", new { id = item.Id }, new { }) |
            @Html.ActionLink("Details", "Details", "sysdiagram", new { id = item.Id }, new { }) |
            @Html.ActionLink("Delete", "Delete", "sysdiagram", new { id = item.Id }, new { })
        </td>
    </tr>
}

</table>