
@model MobileOrder.ViewModels.CustomerOrderVm

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CustomerOrder</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.OrderDate)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.TableInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.TableInfo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.CardName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.CardName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.CardType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.CardType)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.AuthCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.AuthCode)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.ExpirationMonth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.ExpirationMonth)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.ExpirationYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.ExpirationYear)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.SubTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.SubTotal)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.Tax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.Tax)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerOrder.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerOrder.Total)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}