

@model MobileOrder.ViewModels.CustomerOrderVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomerOrder</legend>
    @Html.DisplayFor(model=>model.CustomerOrder)
</fieldset>
<p>
    @Html.ActionLink("Add OrderLineItem", "Create", "OrderLineItem", new { CustomerOrderId = Model.CustomerOrder.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.CustomerOrder.OrderLineItems)
</p>
<p>
    @Html.ActionLink("Add Rating", "Create", "Rating", new { CustomerOrderId = Model.CustomerOrder.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.CustomerOrder.Ratings)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerOrder.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>