

@model MobileOrder.ViewModels.BusinessVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Business</legend>
    @Html.DisplayFor(model=>model.Business)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Business.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>