

@model MobileOrder.ViewModels.LocationVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>
    @Html.DisplayFor(model=>model.Location)
</fieldset>
<p>
    @Html.ActionLink("Add CustomerOrder", "Create", "CustomerOrder", new { LocationId = Model.Location.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.Location.CustomerOrders)
</p>
<p>
    @Html.ActionLink("Add FoodMenu", "Create", "FoodMenu", new { LocationId = Model.Location.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.Location.FoodMenus)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Location.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>