

@model MobileOrder.ViewModels.FoodItemVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FoodItem</legend>
    @Html.DisplayFor(model=>model.FoodItem)
</fieldset>
<p>
    @Html.ActionLink("Add Condiment", "Create", "Condiment", new { FoodItemId = Model.FoodItem.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.FoodItem.Condiments)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FoodItem.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>