

@model MobileOrder.ViewModels.sysdiagramVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>sysdiagram</legend>
    @Html.DisplayFor(model=>model.sysdiagram)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.sysdiagram.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>