
@model MobileOrder.ViewModels.OrderLineItemVm

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrderLineItem</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderLineItem.ItemName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderLineItem.ItemName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderLineItem.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderLineItem.Price)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderLineItem.ItemType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderLineItem.ItemType)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderLineItem.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderLineItem.Quantity)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderLineItem.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderLineItem.SortOrder)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}