

@model MobileOrder.ViewModels.OrderLineItemVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderLineItem</legend>
    @Html.DisplayFor(model=>model.OrderLineItem)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderLineItem.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>