

@model MobileOrder.ViewModels.RatingVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rating</legend>
    @Html.DisplayFor(model=>model.Rating)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Rating.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>