

@model MobileOrder.ViewModels.CustomerVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>
    @Html.DisplayFor(model=>model.Customer)
</fieldset>
<p>
    @Html.ActionLink("Add CustomerOrder", "Create", "CustomerOrder", new { CustomerId = Model.Customer.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.Customer.CustomerOrders)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Customer.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>