

@model MobileOrder.ViewModels.BusinessVm
        @Html.HiddenFor(model => model.Business.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Business.BusinessName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Business.BusinessName)
            @Html.ValidationMessageFor(model => model.Business.BusinessName)
        </div>

