

@model MobileOrder.ViewModels.CondimentVm
        @Html.HiddenFor(model => model.Condiment.Id)
        @Html.HiddenFor(model => model.Condiment.FoodItemId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Condiment.CondimentName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condiment.CondimentName)
            @Html.ValidationMessageFor(model => model.Condiment.CondimentName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Condiment.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condiment.Price)
            @Html.ValidationMessageFor(model => model.Condiment.Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Condiment.SubCategory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condiment.SubCategory)
            @Html.ValidationMessageFor(model => model.Condiment.SubCategory)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Condiment.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condiment.SortOrder)
            @Html.ValidationMessageFor(model => model.Condiment.SortOrder)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Condiment.StartChecked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condiment.StartChecked)
            @Html.ValidationMessageFor(model => model.Condiment.StartChecked)
        </div>

