

@model MobileOrder.ViewModels.CustomerVm
        @Html.HiddenFor(model => model.Customer.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.FirstName)
            @Html.ValidationMessageFor(model => model.Customer.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Customer.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer.LastName)
            @Html.ValidationMessageFor(model => model.Customer.LastName)
        </div>

