

@model MobileOrder.ViewModels.CustomerOrderVm
        @Html.HiddenFor(model => model.CustomerOrder.Id)
        @Html.HiddenFor(model => model.CustomerOrder.CustomerId)
        @Html.HiddenFor(model => model.CustomerOrder.LocationId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.OrderDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.OrderDate)
            @Html.ValidationMessageFor(model => model.CustomerOrder.OrderDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.TableInfo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.TableInfo)
            @Html.ValidationMessageFor(model => model.CustomerOrder.TableInfo)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.CardName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.CardName)
            @Html.ValidationMessageFor(model => model.CustomerOrder.CardName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.CardType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.CardType)
            @Html.ValidationMessageFor(model => model.CustomerOrder.CardType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.AuthCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.AuthCode)
            @Html.ValidationMessageFor(model => model.CustomerOrder.AuthCode)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.ExpirationMonth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.ExpirationMonth)
            @Html.ValidationMessageFor(model => model.CustomerOrder.ExpirationMonth)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.ExpirationYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.ExpirationYear)
            @Html.ValidationMessageFor(model => model.CustomerOrder.ExpirationYear)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.SubTotal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.SubTotal)
            @Html.ValidationMessageFor(model => model.CustomerOrder.SubTotal)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.Tax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.Tax)
            @Html.ValidationMessageFor(model => model.CustomerOrder.Tax)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerOrder.Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerOrder.Total)
            @Html.ValidationMessageFor(model => model.CustomerOrder.Total)
        </div>

