

@model MobileOrder.ViewModels.FoodItemVm
        @Html.HiddenFor(model => model.FoodItem.Id)
        @Html.HiddenFor(model => model.FoodItem.FoodMenuId)

        <div class="editor-label">
            @Html.LabelFor(model => model.FoodItem.FoodItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodItem.FoodItemName)
            @Html.ValidationMessageFor(model => model.FoodItem.FoodItemName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodItem.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodItem.Price)
            @Html.ValidationMessageFor(model => model.FoodItem.Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodItem.SubCategory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodItem.SubCategory)
            @Html.ValidationMessageFor(model => model.FoodItem.SubCategory)
        </div>

