

@model MobileOrder.ViewModels.FoodMenuVm
        @Html.HiddenFor(model => model.FoodMenu.Id)
        @Html.HiddenFor(model => model.FoodMenu.LocationId)

        <div class="editor-label">
            @Html.LabelFor(model => model.FoodMenu.MenuName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodMenu.MenuName)
            @Html.ValidationMessageFor(model => model.FoodMenu.MenuName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodMenu.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodMenu.Category)
            @Html.ValidationMessageFor(model => model.FoodMenu.Category)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodMenu.SubCategory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodMenu.SubCategory)
            @Html.ValidationMessageFor(model => model.FoodMenu.SubCategory)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FoodMenu.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodMenu.SortOrder)
            @Html.ValidationMessageFor(model => model.FoodMenu.SortOrder)
        </div>

