

@model MobileOrder.ViewModels.FranchiseVm
        @Html.HiddenFor(model => model.Franchise.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Franchise.FranchiseName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Franchise.FranchiseName)
            @Html.ValidationMessageFor(model => model.Franchise.FranchiseName)
        </div>

