

@model MobileOrder.ViewModels.LocationVm
        @Html.HiddenFor(model => model.Location.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Location.LocationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location.LocationName)
            @Html.ValidationMessageFor(model => model.Location.LocationName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Location.Latitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location.Latitude)
            @Html.ValidationMessageFor(model => model.Location.Latitude)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Location.Longitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location.Longitude)
            @Html.ValidationMessageFor(model => model.Location.Longitude)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Location.WiFiName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location.WiFiName)
            @Html.ValidationMessageFor(model => model.Location.WiFiName)
        </div>

