

@model MobileOrder.ViewModels.OrderLineItemVm
        @Html.HiddenFor(model => model.OrderLineItem.Id)
        @Html.HiddenFor(model => model.OrderLineItem.CustomerOrderId)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderLineItem.ItemName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderLineItem.ItemName)
            @Html.ValidationMessageFor(model => model.OrderLineItem.ItemName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderLineItem.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderLineItem.Price)
            @Html.ValidationMessageFor(model => model.OrderLineItem.Price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderLineItem.ItemType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderLineItem.ItemType)
            @Html.ValidationMessageFor(model => model.OrderLineItem.ItemType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderLineItem.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderLineItem.Quantity)
            @Html.ValidationMessageFor(model => model.OrderLineItem.Quantity)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OrderLineItem.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderLineItem.SortOrder)
            @Html.ValidationMessageFor(model => model.OrderLineItem.SortOrder)
        </div>

