

@model MobileOrder.ViewModels.RatingVm
        @Html.HiddenFor(model => model.Rating.Id)
        @Html.HiddenFor(model => model.Rating.CustomerOrderId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating.Stars)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating.Stars)
            @Html.ValidationMessageFor(model => model.Rating.Stars)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Rating.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating.Comment)
            @Html.ValidationMessageFor(model => model.Rating.Comment)
        </div>

