

@model MobileOrder.ViewModels.sysdiagramVm
        @Html.HiddenFor(model => model.sysdiagram.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.sysdiagram.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sysdiagram.name)
            @Html.ValidationMessageFor(model => model.sysdiagram.name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.sysdiagram.version)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sysdiagram.version)
            @Html.ValidationMessageFor(model => model.sysdiagram.version)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.sysdiagram.definition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sysdiagram.definition)
            @Html.ValidationMessageFor(model => model.sysdiagram.definition)
        </div>

