

@model MobileOrder.ViewModels.FranchiseVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Franchise</legend>
    @Html.DisplayFor(model=>model.Franchise)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Franchise.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>