
@model MobileOrder.ViewModels.FoodMenuVm

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FoodMenu</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodMenu.MenuName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodMenu.MenuName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodMenu.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodMenu.Category)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodMenu.SubCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodMenu.SubCategory)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FoodMenu.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FoodMenu.SortOrder)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { locationId = Model.FoodMenu.LocationId })
    </p>
}