

@model MobileOrder.ViewModels.FoodMenuVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FoodMenu</legend>
    @Html.DisplayFor(model=>model.FoodMenu)
</fieldset>

<p>
    @Html.ActionLink("Add FoodMenu", "Create", "FoodMenu", new { FoodMenuId = Model.FoodMenu.Id, LocationId=Model.FoodMenu.LocationId }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.FoodMenu.FoodMenus)
</p>

<p>
    @Html.ActionLink("Add FoodItem", "Create", "FoodItem", new { FoodMenuId = Model.FoodMenu.Id }, new object { }) |
</p>
<p>
    @Html.DisplayFor(model=>model.FoodMenu.FoodItems)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FoodMenu.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>