
@model MobileOrder.Models.FoodMenuList

@{
    ViewBag.Title = "Menu Management";
}

<h2>Menu Management</h2>

<p>
    @Html.ActionLink("New Main-Menu", "Create", new {locationId = Model.LocationId})
</p>
@Html.DisplayFor(model => model)