

@model MobileOrder.ViewModels.CondimentVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Condiment</legend>
    @Html.DisplayFor(model=>model.Condiment)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Condiment.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>